.navbar-spacer {
    flex: 1 1 auto;
}

mat-drawer-container,
.mat-drawer-container {
    display: contents;
}

mat-drawer-content,
.mat-drawer-content {
    //overflow: hidden;
    background: #fafafa !important;
}

mat-drawer {
    width: 280px;
}

.app-nav-accordion {
    .mat-expansion-panel {
        border-radius: 0px !important;
        box-shadow: none !important;

        &.mat-expansion-panel-spacing {
            margin: 0px;
        }

        .mat-expansion-panel-body {
            padding: 0px;
        }

        .mat-expansion-panel-header {
            height: 40px;
            padding: 0px 24px 0px 16px;
        }

        .mat-expansion-panel-header-title {
            color: rgba(0, 0, 0, 0.87);
            font-size: 16px;
            font-weight: normal;
        }
    }
}
